body{
    font-family: 'Poppins', sans-serif;
}
.upper-side{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.color-kisu{
    color:rgb(211, 93, 50);
}
h1{
    font-size: 50px;  
}
.half-width{
    width: 40%;
    margin-left: 10%;   
}
.half-width img{
    width: 60%;
    margin-left: 20%;
}
.button-style{
    text-decoration: none;
    background-image: linear-gradient(rgb(15, 173, 194), rgb(34, 4, 90));
    color: white;
    padding: 6px 20px;
    border-radius: 8px;
}
p{
    text-align: justify;
}
.head-box{
    border-left: 3px solid;
    border-color: red;
    padding:0px 10px ;
    border-radius: 2px;
    font-family: 'Abril Fatface', cursive;
    line-height: 50px;
}
.h-center{
    text-align: center;
    font-family: 'Lora', serif;
}
.ditio-vag{
    margin-left: 150px;
}
.mission-list{
    display: flex;
    margin-left: 10px;
}
.list{
    margin: 10px 20px;
}
.img-size{
    height: 180px;
    width: 180px;
}
#list1{
    background-color: wheat;
    border-radius: 20px;
    padding: 10px 20px 30px 20px;
    width: 80%;
}
#list2{
    background-color: rgb(122, 120, 120);
    border-radius: 20px;
    padding: 10px 20px 30px 20px;
    width: 80%;
}
#list3{
    background-color: rgb(94, 104, 88);
    border-radius: 20px;
    padding: 10px 20px 30px 20px;
    width: 80%;
}
.tesora-vag{
    display: flex;
    margin-top: 5%;
    width: 80%;
    margin-left: 5%;
    background-image: url(shape-1.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: left;
}
.tesora-vag img{
    width: 85%;
    margin-left:80px;
    
}
.half-width1{
    width: 50%;
}
.width{
    margin: 40px;
}
.line{
    line-height: 30px;
    font-size: 20px;
}
.arekta-vag{
    display: flex;
    margin-top: 5%;
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
    margin-bottom: 5%;
}
.arekta-vag img{
    width: 75%;
    margin-right: 20%;
    margin-left: 5%;
}
.amar-section{
    display: flex;
    margin-top: 5%;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.amar-section img{
    width: 80%;
    margin-right: 15%;
}
.pera{
    margin-left: 20%;
}
footer {
    background-color: black;
    padding: 10px 0px;
}
.footh{
    color: white;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 30px;
    font-family: 'Lobster', cursive
}
footer p{
    color:white;
    text-align: center;
}